.userData {
  width: 1000px;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  justify-content: space-between;
  border-radius: 16px;
  padding: 30px 36px 46px 30px;
  margin-right: 39px;
}

.dots {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  height: 32px;
  width: 32px;
}
.dots:hover {
  background-color: #029c69;
}

.userAva {
  width: 222px;
  height: 217px;
  border-radius: 22px;
  background-color: #c4c4c4;
}

.customerDataDv {
  margin-bottom: 35px;
}

.customerDataDv h2 {
  font-weight: 600;
  font-size: 36px;
  color: #464255;
  line-height: 100%;
  margin-bottom: 15px;
}

.customerDataDv .p {
  font-weight: 500;
  font-size: 21px;
  color: #00b074;
  margin-bottom: 20px;
}

.customerDataDv:last-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 35px;
  color: #a3a3a3;
}

@media (max-width: 1912px) {
  .wrap {
    flex-wrap: wrap;
  }
  .wrap .userData {
    margin-bottom: 40px;
  }
}

.namesFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameAndLoc h3 {
  font-size: 36px;
  color: #464255;
  padding: 11px 0px 15px 0px;
}

.nameAndLoc p:nth-child(2) {
  font-size: 21px;
  color: #00b074;
  padding-bottom: 20px;
}

.nameAndLoc p:nth-child(3) {
  font-size: 14px;
  color: #a3a3a3;
}

.namesFooter1 {
  width: 100%;
  margin: 35px 0px 17px 0px;
  display: flex;
  justify-content: space-between;
}

.btns button:nth-child(1) {
  padding: 16px;
  background-color: #00b07426;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btns button:nth-child(2) {
  padding: 16px;
  background-color: #5e6c9326;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 20px;
}

.emailNumJob {
  display: flex;
  align-items: center;
}

.emailNumJob1 {
  display: flex;
  align-items: center;
}

.emailNumJob2 {
  display: flex;
  align-items: center;
}

.emailNumJob button {
  padding: 4px;
  background-color: #2d9cdb26;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 16px;
}

.emailNumJob1 button {
  padding: 4px;
  background-color: #00b07426;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.emailNumJob2 button {
  padding: 4px;
  background-color: #ff5b5b26;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cartAbout {
  max-width: 500px;
  flex-grow: 1;
  border-radius: 16px;
  background-color: #00b074;
  padding: 25px 0px 0px 0px;
  overflow: hidden;
}

.cardName p:nth-child(1) {
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
}

.cardName p:nth-child(2) {
  color: white;
  font-size: 21px;
}

.cusDetailFooter {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.mostOrdered p:nth-child(1) {
  font-size: 21px;
  color: #464255;
  margin-bottom: 12px;
}

.btnAndName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 35px 48px 0px;
}

.mostOrdered p:nth-child(2) {
  font-size: 12px;
  color: #a3a3a3;
}

.mostOrderBtns {
  background-color: #f3f2f7;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

/* .mostOrderBtns button{
    padding: 7px 18px;
    background-color: #FFFFFF;
    border-radius: 57px;
    border: none;
    font-size: 15px;
} */

.mostOrderBtns button {
  padding: 7px 18px;
  /* background-color: #FFFFFF; */
  border-radius: 57px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.active {
  background-color: #ffffff;
  transition: 0.7s;
}
.middle {
  max-width: 329px;
  margin-left: 24px;
}
.middle p:nth-child(1) {
  font-size: 16px;
  color: #464255;
  margin-bottom: 9px;
  font-weight: 700;
}
.middle p:nth-child(2) {
  font-size: 12px;
  color: #2d9cdb;
  margin-bottom: 17px;
}
.middle p:nth-child(3) {
  font-size: 12px;
  color: #a3a3a3;
}
.priceBtn {
  display: flex;
  align-items: center;
}
