.leftTop {
  width: 339px;
  height: 614px;
  background-color: white;
  border-radius: 16px;
}

.rightTop {
  width: 1089px;
  background-color: white;
  border-radius: 16px;
}

.leftBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 339px;
  height: 471px;
  background-color: white;
  border-radius: 16px;
  margin-top: 40px;
}

.rightBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 1089px;
  height: 599px;
  background-color: white;
  border-radius: 16px;
  margin-top: 40px;
}

.cancelBtn {
  padding: 18px 66px;
  color: #ff5b5b;
  background-color: transparent;
  border: 1px solid #ff5b5b;
  border-radius: 12px;
}

.onDelivery {
  padding: 18px 66px;
  color: white;
  background: #00b074;
  border-radius: 12px;
  margin-left: 40px;
}

.forAvatar {
  background-color: #c4c4c4;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 27px;
}

.leftTop {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.leftTop h2 {
  font-weight: 600;
  font-size: 18px;
  color: #3e4954;
  margin-bottom: 10px;
}

.noteOrder {
  max-width: 339px;
  width: 100%;
  min-height: 297px;
  border-radius: 16px;
  background-color: #5e6c93;
  padding: 30px;
  position: relative;
}

.noteOrder h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.noteOrder p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffffaf;
}

.noteOrderDelivery {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  bottom: -8px;
  background-color: #2d9cdb;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  left: 0px;
}

.noteOrderDelivery p {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.noteOrderDelivery img {
  padding: 11px 10px 10px 11px;
  background-color: white;
  border-radius: 50%;
}

.css-1mauqrt-MuiTableCell-root.MuiTableCell-head {
  background-color: #00b074 !important;
}

.type {
  padding: 8px 22px;
  background-color: #00b07426;
  font-weight: 600;
  color: #00b074;
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
}
